@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag._Title</title>
    @Styles.Render("~/content/css/bootstrap")
</head>
<body id="site">
    <!-- HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a href="~/"><img src="/Content/images/logo.png" width="106" height="100" /></a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Find a Program", "Search", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("FAQ", "Faq", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Agency Login", "Login", "Home")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="container content">
        <div class="row">
            <div class="main">
                <!-- Spacer for logo -->
                <div style="float:left;width:100px;height:50px;">&nbsp;</div>
                <div id="title">MENTOR CHARLOTTE</div>
                @if (Request.IsAuthenticated)
                {
                    <nav class="navbar navbar-default" role="navigation">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Codes", "ManageCodes", "Code")</li>
                            <li>@Html.ActionLink("Agencies", "ListAgencies", "Agency")</li>
                        </ul>
                    </nav>
                }
                <div class="clearfix">
                    @RenderBody()
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="userinfo">
                        @Html.ActionLink("Logout " + User.Identity.Name, "Logout", "Home")
                    </div>
                }
                <img src="/Content/images/bar.jpg" class="bar" />
                <div class="disclaimer">
                    The information contained within this site is provided to you only as a convenience,
                    and does not imply endorsement of the agencies included herein.
                    Additionally, the information provided here is not intended to be all encompassing.
                    It is provided to assist in helping mentors get connected with mentoring agencies.
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/scripts/bootstrap")
</body>
</html>
