@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag._Title</title>
    @Styles.Render("~/content/css/bootstrap")
</head>
<body id="site">
    <!-- HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a href="~/"><img src="/Content/images/logo.png" width="106" height="100" /></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Find a Program", "Search", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("FAQ", "Faq", "Home")
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Edit Profile", "SelectProfile", "Home")
                        }
                        else
                        {
                            @Html.ActionLink("Agency Login", "Login", "Home")
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="container content">
        <div class="row">
            <div class="main">
                <!-- Spacer for logo -->
                <div style="float:left;width:100px;height:50px;">&nbsp;</div>
                <div id="title">MENTOR CHARLOTTE</div>
                @Html.Partial("_AdminNav")
                <div class="clearfix">
                    @RenderBody()
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="userinfo">
                        @Html.ActionLink("Logout " + User.Identity.Name, "Logout", "Home")
                    </div>
                }
                <img src="/Content/images/bar.jpg" class="bar" />
                <div class="disclaimer clearfix">
                    <div class="pull-left text-justify">
                        The information contained within this site is provided to you only as a convenience,
                        and does not imply endorsement of the agencies included herein.
                        Additionally, the information provided here is not intended to be all encompassing.
                        It is provided to assist in helping mentors get connected with mentoring agencies.
                    </div>
                    <div class="pull-right">
                        <b>For site questions or concerns, please contact:</b><br/>
                        City of Charlotte<br/>
                        Neighborhood and Business Services<br/>
                        704-336-2928
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/scripts/bootstrap")
</body>
</html>
